@import "tailwindcss";
@import "swiper/css";

@layer base {
  body {
    background-color: #121212;
  }
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 12px; 
  /* width는 세로 스크롤바에만 적용된다. */
  /* height: 8px; */ 
  /* 마찬가지로 height는 가로 스크롤바에만 적용된다 */
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #585858;
}


.rank-number {
  font-size: 180px;
  font-family: monospace;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  color: #fff;
  position: absolute;
  line-height: 1;
  user-select: none;
}
